# macOS system files
.DS_Store
**/.DS_Store

# Video files
videos/

# IDE files
.idea/
**/.idea/
*.iml
*.iws
*.ipr

.vscode/
**/.vscode/

# Docker and containerization
.dockerignore

# Database and data directories
**/.kafka-data/**
**/.mysql-data/**
**/.zookeeper-data/**
